<header>
    <div class="container">
        <a href="#" class="logo">Sudoku Solver</a>
        <nav>
            <ul>
                <li><a href="#" routerLink="/">Board of the Day</a></li>
                <li><a href="my-boards" routerLink="/my-boards">My Boards</a></li>
                <li *ngIf="user_info"><a href="api-token" routerLink="/api-token">API Authentication</a></li>
                <li *ngIf="!user_info"><a [href]="loginUrl">Login</a></li>
                <li *ngIf="user_info"><img [src]="user_info['picture']" alt=""></li>
                <li *ngIf="user_info"><a>{{ user_info['name'] }}</a></li>
                <li *ngIf="user_info"><a href="" (click)="logout()">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>


<div class="container">
  <router-outlet></router-outlet>
</div>
